:root {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  color-scheme: light dark;
  background-color: var(--bs-dark) !important;
  color: var(--bs-light) !important;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.accordion-button,
.accordion-item {
  background-color: var(--bs-dark) !important;
  color: var(--bs-light) !important;
}

#app {
  max-width: 1280px;
  margin: 0;
  text-align: center;
}

h2 {
  text-align: justify;
  font-size: 1.2em !important;
}

li {
  text-align: justify;
}

img {
  width: 100%;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
